{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dash &amp; Dine - Sign In</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>

  <body>

    <form method="POST">
      <!-- token -->
      {% csrf_token %}
      <!-- pre-defined django auth form -->
      {{ form }}
      <button type="submit" name="sign_in">Sign In</button>
    </form>

  </body>
</html>
