body {
  padding-top: 50px;
  overflow: auto;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.bg-gray{
  background: #eee;
}

.bg-blue {
  background: #098BEF;
  color: white;
}

.btn-blue {
  color: #fff;
  background: #0367B4;
}

.btn-blue:hover,
.btn-focus:focus {
  color: #fff;
  background: #098BEF;
}

.border {
  height: 250px;
  border-right: 1px solid #eee;
}

.icon {
  font-size: 5em;
  color: #0367B4;
  border-color: #0367B4;
}

/***** SIDEBAR *****/

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #098BEF;
  overflow: auto;
}

/***** SIDEBAR - HEADER *****/

.sidebar > div:first-child {
  padding: 30px 10px;
  font-weight: bold;
  font-size: 1em;
  background-color: #036EC0;
}

.sidebar > div:first-child > h4 {
  color: #eee;
}

.sidebar > div:first-child > h5 {
  color: #eee;
}

/***** SIDEBAR - LIST *****/

.sidebar .list-group {
    padding: 0;
    background-color: #098BEF;
}

.sidebar .list-group > span {
  color: #eee;
  display: block;
  margin-top: 2rem;
  padding: 2rem 3rem;
  font-size: 1em;
  font-weight: 300;
}

.sidebar .list-group .list-group-item,
.sidebar .list-group .list-group-item:focus {
  background-color: #098BEF;
  color: #fff;
  border: 0;
  padding-left: 6rem;
  padding-right: 3rem;
}

.sidebar .list-group .list-group-item.active,
.sidebar .list-group .list-group-item:hover {
  background-color: #024F8B;
  color: #eee;
}

.sidebar .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sidebar .list-group .list-group-item .badge,
.sidebar .list-group .list-group-item.active .badge {
  background-color:  #EE5462;
  color: #fff;
}

/***** SIDEBAR - LOGOUT *****/

.sidebar > div:last-child {
  padding: 3rem;
}

.sidebar > div:last-child .btn {
  width: 100%
}

/***** CONTENT *****/

.content {
  padding: 0 4rem;
}

.content .panel {
  border: none;
}

.table > thead > tr > th,
.table > thead > tr > td {
  vertical-align: middle;
}
